/* box-sizing should be same as actial value */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
/* Global styles for body */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

/*** Styling Header ***/
header {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header h1 {
  font-family: 'Permant Maker', cursive;
  text-transform: uppercase;
  display: inline;
}
/*** styling navigation in header ***/
nav {
  display: inline;
  padding-top: 10px;
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #008080;
}

/* page content main */
main {
 margin: 70px auto;
 width: 50%;
 background-color: #C2E0C6;
 text-align: center;
}
main img {
  border-radius: 6px;
  padding-top: 20px;
}
article h2 {
  font-family: futura;
}
/*** styles for orderded and unorded list ***/
ul, ol{
  display: inline-block;
  text-align: left;
}

/*** horizontal line styling ***/
hr {
  margin-top: 50px;
  margin-bottom: 50px;
	width: 100px;
  background-color: #f2f2f2;
}
/*** centering div elements ***/
.wrapper {
  margin-right: auto;
  margin-left:  auto; 
  max-width: 960px; 
  padding-right: 10px;
  padding-left:  10px;
}

/** centering image **/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*** Styling ordered links ***/
ol li a {
  color: #333;
  text-decoration: none;
}

ol li a:hover {
  color: #008080;
}

/*** Stying footer ***/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

